/* You can add global styles to this file, and also import other style files */
.home-card-title {
    color: #cccccc;
    font-weight: bold;
    text-align: end;
    margin: 0;
}

.home-card-home-amount {
    color: #202020;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-align: start;
}

